[Unit]
Description=Unlicht RPG App server
ConditionPathExists=/opt/rpgapp/rpgApp
After=network.target

[Service]
Type=simple
User=dungeonmaster
Group=dungeonmaster
LimitNOFILE=1024

Restart=on-success
RestartSec=10
startLimitIntercalSec=60

WorkingDirectory=/opt/rpgapp
ExecStart=/opt/rpgapp/rpgApp -d

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/rpgapp
ExecStartPre=/bin/chown syslog:adm /var/log/rpgapp
ExecStartPre=/bin/chmod 755 /var/log/rpgapp
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=rpgapp

[Install]
WantedBy=mult-user.target
