[Unit]
Description=DESCRIPTION
ConditionPathExists=/usr/bin/docker
After=docker.service
Requires=docker.service
StartLimitBurst=6

[Service]
Type=simple
LimitNOFILE=1024

Restart=on-success
RestartSec=10
StartLimitInterval=70

EnvironmentFile=/etc/.unlichtconf
ExecStart=EXECSTART
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=SYSLOGIDENTIFIER

[Install]
WantedBy=mult-user.target
