[Unit]
Description=unlichtServer Server
ConditionPathExists=/usr/local/bin/unlichtServer
After=network.target

[Service]
Type=simple
User=dungeonmaster
Group=dungeonmaster
LimitNOFILE=1024

Restart=on-success
RestartSec=10
startLimitIntercalSec=60

WorkingDirectory=/usr/local/bin/
ExecStart=/usr/local/bin/unlichtServer -d

PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/unlichtServer
ExecStartPre=/bin/chown syslog:adm /var/log/unlichtServer
ExecStartPre=/bin/chmod 755 /var/log/unlichtServer
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=unlichtServer

[Install]
WantedBy=mult-user.target
