[Unit]
Description=unlicht-server Server
ConditionPathExists=/usr/bin/docker
After=docker.service
Requires=docker.service
StartLimitBurst=6

[Service]
Type=simple
LimitNOFILE=1024

Restart=on-success
RestartSec=10
StartLimitInterval=70

EnvironmentFile=/etc/.unlichtconf
ExecStart=/usr/bin/docker run -e RUN_ENV=${ENV} -p=${PORT}:8080 -v /home/gald/goworkspace/src/github.com/KaiserGald/unlicht-server/app:/srv/unlicht-server/app unlicht-server:${TAG}

PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=unlicht-server

[Install]
WantedBy=mult-user.target
